@charset "utf-8";
body{margin: 0 auto !important; padding: 0 !important; overflow: auto;  min-height:100%; background-color:#FFF;}
#wrapper{margin: 0 auto;width: 1280px;text-align: left;}
.table{margin: 0px;padding: 0px;line-height: 15px;}
.single_pic{width: 15px;height: 15px;cursor: pointer;}
.single_pic:hover{-webkit-border-radius: 25px;-webkit-border-top-left-radius: 5px;border-radius: 25px;border-top-left-radius: 5px;}
#top_login{width: 20%;left:73%;top:0%;height: 4%;margin-top:-1%;margin-right:6%;position:fixed;z-index: 100;padding: 20px;border: 1px solid #a8a8a8;background-color: #ebebeb;
-webkit-border-bottom-left-radius: 25px;border-bottom-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;border-bottom-right-radius: 25px;cursor: pointer;-moz-box-shadow: 0 0 15px #fff;-webkit-box-shadow: 0 0 15px #fff;box-shadow: 0px 0px 15px #fff;}
#loginleft{position: absolute;top:18%;left: 2%;width: 60%;border: 0px solid #000;text-align:center;padding-right: 10px;}
#loginleft img{position: relative;width: 25%;border: 1px solid #ffffff;}
#loginleft be{font-family: 'Rancho', cursive; }
#loginright{position: absolute;top: 26%;left: 0%;padding-left: 0%;border: 0px solid #000;width: 100%;text-align: center;}
#intro{display:block;margin-left: 10%;width: 80%;border: 0px solid #000;position: relative;min-height: 480px;margin-top: 24%;text-align:center;}
#bal{position:relative; top:-450px;left:67%;background-image:url('../img/balon.png'); background-repeat:no-repeat;width:223px;height:122px;border:0px solid black; padding-top:40px;padding-left:0px;}
#upload{display:none;margin-left: 10%;width: 80%;border: 0px solid #000;position: relative;min-height: 480px;margin-top: 8%;}
#loading1{position: absolute;left:0%;top: 0%;overflow: auto;min-height: 100%;max-height: 100%;margin-right: 25px;}
#loading2{position: absolute;left: 35%;top: 0%;min-height: 100%;max-height: 100%;margin-right: 25px;}
#loading3{position: absolute;left: 70%;top: 0%;min-height: 100%;max-height: 100%;}
.loading{z-index: 9;width: 30%;position: relative;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;border: 1px solid #000;overflow: auto;background-color: #ffffff;-moz-box-shadow: 0 0 15px #fff;-webkit-box-shadow: 0 0 15px #fff;box-shadow: 0px 0px 15px #fff;}
.loading p{text-align: center;}
#photos{background-color: #ffffff;position: relative;z-index: 9999;margin: 0 0 0 0;padding: 0px;width: 272px;height:355px;margin-left: 5%;border: 0px dotted #000;}
.listalbum:link, .listalbum:visited{font-family: 'Quantico', sans-serif;text-decoration: none;color: #666666;font-size: 10px;margin-left: 0px;}
.listalbum:hover{font-family: 'Quantico', sans-serif;text-decoration: none;color: #000;font-size: 14px;margin-left: -15px;}
#listnone{list-style-type: none;}
#button1, #button2, #button3{width:150px; height:30px; line-height: 17px; padding: 4px; border:1px solid #484848; color: #484848; background-color:#FFF;
-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#button1:enabled, #button2:enabled, #button3:enabled{cursor: pointer;}
#button1:enabled:hover, #button2:enabled:hover, #button3:enabled:hover{cursor: pointer;-moz-box-shadow: 0 0 5px #484848;-webkit-box-shadow: 0 0 5px #484848;box-shadow: 0px 0px 5px #484848;}
#button1:disabled, #button2:disabled, #button3:disabled{opacity:0.4;filter:alpha(opacity=40);}
.pbar .ui-progressbar-value {display:block !important}
.pbar {overflow: hidden}
.percent {position:relative;text-align: right;}
.elapsed {position:relative;text-align: right;}
#progress1{width:280px;margin:10px;font-family: 'Rancho', cursive; }